<div class="header">
    <div class="container">
        <a href="/" class="brand-name">青春クイズ</a>
    </div>
</div>
<main class="content-wrapper">
<h1><%= @current_question_number %>問目</h1>
<p><%= @quiz.question %></p>
<% if @quiz.hint.present? %>
  <p class="hint"><strong>ヒント:</strong> <%= @quiz.hint %></p>
<% end %>
<%= form_with url: answer_quiz_path(@quiz), method: :post do |f| %>
  <%= f.text_field :answer, placeholder: "ここに答えを入力" %>
  <%= f.submit "答える" %>
<% end %>
</main>

